---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import Model_Y from "../components/CarsSections/Model-Y.astro";
import Model_3 from "../components/CarsSections/Model-3.astro";
import Model_S from "../components/CarsSections/Model-S.astro";
import Model_X from "../components/CarsSections/Model-X.astro";
import SolarCharge from "../components/AccessoriesSection/SolarCharge.astro";
import AccesoriesCharge from "../components/AccessoriesSection/ChargedSection.astro";
---

<Layout title="Tesla Landing Page">
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <Model_Y />
    </div>

    <div class="snap-center">
      <Model_3 />
    </div>

    <div class="snap-center">
      <Model_S />
    </div>

    <div class="snap-center">
      <Model_X />
    </div>

    <div class="snap-center">
      <SolarCharge />
    </div>

    <div class="snap-center">
      <AccesoriesCharge />
    </div>
  </main>
</Layout>
