---
import Section from "../Section.astro";
---

<Section
  title="Solar y Powerwall"
  subtitle="Energia para todos"
  color="black"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-black bg-black rounded font-medium text-white text-sm px-12 py-2 inline-block hover:bg-gray-500 hover:border-gray-500 transition-colors"
      href="#"
    >
    Saber mas</a
    >
  </div>

  <img
    slot="background"
    src="/solar-panels.avif"
    alt="Model X"
    class="h-full w-full object-cover object-center"
  />
</Section>

